---
import '../styles/global.css';
import Navigation from '../components/dhl/Navigation.vue';
import Baijin from '../components/zhuti/baijin.vue';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Astro</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous" />
</head>
<body>
  <div class="w-full h-full flex flex-col">
    <div>
      <Navigation client:load/>
    </div>
    <div class="flex items-center justify-center h-150 w-full text-5xl text-center text-white bg-gradient-to-r from-blue-500 to-purple-500 ">
        <h1 class="font-bold">作者还在开发，在有空的时候会更新的</h1>
    </div>
  </div>
</div>
</body>
</html>